<%- include('components/head.ejs') %>
</head>

<body>
  <%- include('components/navigation.ejs') %>

  <div class="grid grid-cols-6 gap-2.5 p-6">
    <h6 class="col-span-full">Shop page</h6>


    <% if(products.length > 0) { %>
      <% products.forEach((product) => { %>
      <div class="grid grid-cols-1 gap-2.5 rounded-lg bg-white border border-[#141414] shadow-secondary-1">
        <a href="#!">
          <img class="rounded-t-lg" src="<%= product.image %>" alt="product-image" />
        </a>
        <div class="p-6 text-surface">
          <h5 class="mb-2 text-xl font-medium leading-tight">
            <%= product.title %>
          </h5>
          <p class="mb-4 text-base">
            <%= product.description %>
          </p>
          <button type="button" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2" data-twe-ripple-init data-twe-ripple-color="light">
            Button
          </button>
        </div>
      </div>

    <% }) %>
  </div>

  <% } else {%>
  <h2>No products found.</h2>
  <% } %>
  </div>

  <%- include('components/footer.ejs') %>